.bodyContainer01ViewBook{
    position: absolute;
    width: 1200px;
    height: 654px;
    left: 306px;
    top: 80px;

    background: #FFFFFF;
    border-radius: 35px;
}

.backBookViewbtn{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 1000px;
    top: 570px;
    border: 1px solid #5CCBD4;
    background: #5CCBD4;
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.backBookViewbtn a{
    text-decoration: none;
    color: white;
}

#viewBook{
    padding: 10px; 
}

#viewBook{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 30px;
}

#viewBook th{
    border-bottom: 1px solid #1395ED ;
    padding: 15px;
    font-size: 15px;
    background-color: #1395ED;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
#viewBook td{
    font-size: 15px;
    padding: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#viewBook tr:nth-child(even){
    background: #EFFAFF;
}

#viewBook tr:hover{
    background: #7493BC;
    color: white;
}

.editbtn{
    background: #DEA01E;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 35px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.editbtn a{
    text-decoration: none;
    color: white;   
}
.deletebtn{
    background: #F25E5B;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 35px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    
}

.deletebtn a{
    text-decoration: none;
    color: white;
    
}

.pagination{
    position: absolute;
    top: 600px;
    left: 30px;
}

.pagingheader{
    border: 1px solid lightgray;
    padding: 5px;
    background: none;
}
.paginationTr:hover {
    background: none;
}

.bookTitleTable{
    text-decoration: none;
    color: blue;
}
#filterViewBook{
    position: absolute;
    top: 70px;
    left: 700px;
}
.filterViewBookInput{
    position: absolute;
    top: 70px;
    left: 880px;
}